.nav {
    display: flex;
    gap: 20px;
    background-color: rgb(89, 37, 173);
    width: 100%;
    color: white;
    padding: 15px;
    
    font-size: 2em;
    a {
      color: white;
      text-decoration: none;
    }
  }